a {
    text-decoration: none;
}

.gallery {
    width: 104.7%;
    position: fixed;
    left: -8.7px;
    top: 55px;
    height: 207px;
}

.headerbase {
    z-index: 52;
    position: fixed;
    left: 0%;
    width: 100%;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.368627) 0px 0px 2px 0px;
    max-height: 90px;
    background-image: url("Assets/Rectangle%201.svg");
}

.quicklinks {
    position: absolute;
    top: 41.5%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: rgb(1, 35, 149);
    z-index: 15;
    left: 6%;
}

.maximizebtn {
    position: absolute;
    top: 220px;
    left: 328px;
}

.header {
    z-index: 30;
}

.highschoolimg {
    position: absolute;
    transform: rotate(90deg);
    top: 25%;
    width: 190%;
    left: -45%;
}

.logo {}

.logotext {
    position: fixed;
    font-family: sans-serif;
    color: rgb(1, 35, 149);
    left: 52%;
    top: -2.4%;
    font-weight: 400;
}

.verticallinediv {
    position: fixed;
    z-index: 5;
    left: 50.7%;
    top: 389px;
    width: 1px;
    height: 90px;
    opacity: 0.1;
    background-color: rgb(112, 112, 112);
}

.baseimg {
    position: absolute;
    left: 0px;
    top: 53px;
}

.dockoverflow {
    white-space: nowrap;
    position: absolute;
    width: 360px;
    height: 126px;
    z-index: 76;
}

.imgs {
    position: absolute;
    width: 181px;
    padding-left: 10px;
    transition: 1s ease;
    top: 650px;
}

.imgs:hover {
    top: 626px;
    width: 102.7%;
    left: -10px;
    z-index: 150;
    position: absolute;
    box-shadow: rgb(255, 0, 255) 10px 200px 0px 200px;
}

.imgs:hover.dockhead {}

.midbar {
    position: fixed;
    left: 0px;
    z-index: 49;
    top: 8%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    width: 100%;
}

.mediaicon {
    position: fixed;
    bottom: 0.7%;
    z-index: 76;
    left: 4.9%;
    padding: 5px 39px;
}

.mediaicon:active {
    border-radius: 50px;
    background: rgb(241, 241, 241);
}

.media-text {
    position: fixed;
    font-family: sans-serif;
    font-size: 12px;
    top: 95.1%;
    z-index: 76;
    color: rgb(96, 96, 96);
    font-weight: 400;
    left: 15.4%;
}

.dockbase {
    position: fixed;
    left: 0%;
    bottom: 0%;
    z-index: 75;
    width: 100%;
    background-image: url("Assets/Header%20XL.svg");
}

.newsicon-inactive {
    position: fixed;
    left: 82.4%;
    top: 93%;
    z-index: 76;
}

.news-text {
    position: fixed;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    top: 95.1%;
    left: 81%;
    z-index: 300;
    color: rgb(96, 96, 96);
}

.homeicon {
    position: fixed;
    bottom: 0.7%;
    z-index: 76;
    padding: 5px 39px;
}

.homeicon:active {
    border-radius: 50px;
    background: rgb(241, 241, 241);
}

.hometext {
    position: fixed;
    font-size: 12px;
    color: rgb(1, 35, 149);
    z-index: 300;
    font-family: sans-serif;
    top: 95.1%;
    left: 45.5%;
    font-weight: 400;
}

.moreicon-inactive {
    position: fixed;
    top: 93%;
    z-index: 75;
    left: 51.6%;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 15px;
}

.more-text {
    position: fixed;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(96, 96, 96);
    top: 95.1%;
    z-index: 76;
    left: 56.7%;
}

.homesubmenubase {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0%;
    top: 41.3%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    background-color: white;
}

.Eduicon {
    position: fixed;
    top: 277px;
    left: 22px;
    z-index: 15;
}

.edusubtext {
    position: fixed;
    top: 261px;
    left: 10px;
    font-family: sans-serif;
    color: rgb(1, 35, 149);
    font-weight: 400;
    font-size: 14px;
    padding: 8px 0% 26px 44px;
    border-radius: 50px;
    background-color: white;
}

.edusubtext:active {
    background-color: rgb(241, 241, 241);
}

.eduexternal {
    position: fixed;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 300;
    top: 293px;
    left: 54px;
    color: rgb(96, 96, 96);
}

.mealmenuicon {
    position: fixed;
    left: 25px;
    top: 335px;
    z-index: 15;
}

.mealtext {
    position: fixed;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(1, 35, 149);
    left: 11px;
    top: 319px;
    padding: 8px 0px 26px 43px;
    transition: 85ms ease;
    border-radius: 60px;
    width: 82%;
}

.mealtext:hover {
    border-radius: 50px;
    background-color: rgb(241, 241, 241);
}

.horizontaldiv {
    position: absolute;
    top: 350.9px;
    left: 0%;
    z-index: 51;
}

.admiralnationtext {
    position: fixed;
    top: 389px;
    left: 3%;
    font-family: sans-serif;
    color: rgb(96, 96, 96);
    font-weight: 400;
    font-size: 14px;
    padding: 45px 9% 12px 9.1%;
    border-radius: 10px;
    z-index: 0;
}

.admiralnationtext:active {
    z-index: 0;
    background-color: rgb(241, 241, 241);
}

.admiralnationicon {
    position: fixed;
    top: 411px;
    left: 78px;
    z-index: 10;
}

.organizations-subtext {
    position: absolute;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 400;
    top: 59.9%;
    left: 6%;
    color: rgb(96, 96, 96);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
}

.Annual-icon {
    position: fixed;
    top: 412px;
    left: 71%;
    z-index: 15;
}

.Annual-text {
    position: fixed;
    top: 389px;
    left: 55%;
    font-family: sans-serif;
    color: rgb(96, 96, 96);
    font-weight: 400;
    font-size: 14px;
    padding: 45px 9% 12px 9.1%;
    border-radius: 10px;
    z-index: 0;
}

.Annual-text:active {
    background-color: rgb(241, 241, 241);
}

.horizontal-div2 {
    position: absolute;
    left: 0%;
    top: 107.5px;
    z-index: 30;
}

.mainicon-page {
    position: fixed;
    top: 19px;
    left: 25px;
    z-index: 52;
}

.maintext-page {
    position: fixed;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(1, 35, 149);
    top: 10px;
    left: 62px;
    z-index: 75;
}

.lunch-submenu {
    position: fixed;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(1, 35, 149);
    top: 45px;
    left: 108px;
    z-index: 53;
    padding: 9px 15px 12px;
}

.lunch-submenu:active {
    border-radius: 50px;
    background-color: rgb(241, 241, 241);
}

.breakfast-submenu {
    position: fixed;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(137, 137, 137);
    top: 45px;
    right: 25%;
    z-index: 53;
    padding: 9px 15px 12px;
}

.breakfast-submenu:active {
    border-radius: 50px;
    background-color: rgb(241, 241, 241);
}

.horizontal-div3 {
    position: absolute;
    top: 136.5px;
    left: 0px;
}

.mealmenuscroll {
    overflow: auto;
    white-space: nowrap;
    width: 121%;
    border-color: white;
    align-content: center;
    background-color: white;
}

.subscroll {
    position: relative;
    top: 3%;
    left: -67px;
}

.horizontalmenu {
    transition: 1s ease;
    width: 221%;
    margin: auto;
}

.horizontalmenu:hover {
    width: 400%;
}

horizontal-div4 {
    position: absolute;
    top: 120px;
    z-index: 50;
}

.backbtn {
    position: fixed;
    z-index: 52;
    left: 0px;
    width: 37px;
    top: -1px;
    padding: 9px 51px 9px 13px;
}

.backbtnmeal:active {}

.fullimage {
    position: absolute;
    left: 0px;
    top: 107px;
    z-index: -5;
}

.moresubheader {
    position: absolute;
    left: 0px;
    top: 52px;
    z-index: 0;
}

.environmentalicon {
    position: absolute;
    top: 510px;
    left: 22px;
}

.artlogo {
    position: absolute;
    top: 20.81%;
    left: 7.77%;
}

.artbtntext {
    position: absolute;
    font-family: sans-serif;
    font-size: 14px;
    top: 19.5%;
    font-weight: 400;
    color: rgb(1, 35, 149);
    left: 15%;
}

.clubsbtntext {
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(1, 35, 149);
    left: 45%;
    font-size: 14px;
    text-align: center;
    z-index: 15;
}

.qrcode {
    position: absolute;
    top: 170px;
    left: 22%;
}

.indicator {
    position: fixed;
    z-index: 54;
    top: 89px;
    width: 51px;
    height: 2.3px;
    background-color: rgb(1, 35, 149);
}

@media only screen and (min-width: 365px) {
    .headerbase {
        left: -7%;
        width: 107%;
        max-height: 90px;
        min-height: 84px;
        background-image: url("Assets/Iphone%20Header.svg");
    }
    .Chalkableframe {
        top: 50%;
    }
    .dockbase {
        position: fixed;
        top: 92%;
    }
}

@media not all {}

.expandbtn {
    position: fixed;
    top: 544px;
    left: 48.7%;
    width: 13px;
}

.dockpopbtn {
    position: fixed;
    font-family: sans-serif, sans-serif;
    top: 539px;
    font-size: 12px;
    left: 48%;
    color: rgb(1, 35, 149);
}

.vid1 {
    width: 50px;
    height: 50px;
}

label {
    z-index: 75;
}

#toggle:checked + img {
    display: none;
}

.dockhead {
    position: absolute;
    z-index: 76;
    top: 625px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(1, 35, 149);
    left: 45%;
}

.splashscreen {
    position: absolute;
    width: 34%;
    z-index: 340;
    top: 251px;
    left: 32%;
}

.splashbase {
    position: absolute;
    z-index: 339;
    width: 100%;
    height: 100%;
    border: solid white;
    background-image: url("Assets/Splash%20Base.svg");
}

.tapindicator {
    position: absolute;
    z-index: 150;
    width: 17px;
    top: 395px;
    left: 87%;
}

.alerttext {
    position: fixed;
    font-family: sans-serif;
    z-index: 52;
    font-size: 14px;
    font-weight: 400;
    color: rgb(137, 137, 137);
    top: 10px;
    right: 7%;
}

.scroller {
    font-family: sans-serif;
    color: white;
    position: fixed;
    top: 233px;
    font-size: 14px;
    z-index: 45;
    font-weight: 400;
    left: 0px;
}

.qrtxt {
    position: absolute;
    top: 542px;
    font-size: 21px;
    left: 37%;
    font-family: sans-serif, roboto;
}

.qrsubtxt {
    position: absolute;
    font-size: 14px;
    top: 570px;
    color: rgb(96, 96, 96);
    left: 42.7%;
    font-family: sans-serif, roboto;
    font-weight: 400;
}

.curvybtn {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(1, 35, 149);
    padding: 16px 80px;
    border-radius: 50px;
    border: 1px solid rgb(241, 241, 241);
    z-index: 20;
}

.curvybtn:active {
    background-color: rgb(241, 241, 241);
}

.swipeup {
    position: absolute;
    top: 517px;
    left: 46%;
    font-family: sans-serif, roboto;
    font-size: 11px;
    font-weight: 400;
}

.athleticicon {
    position: fixed;
    bottom: 0.7%;
    z-index: 76;
    right: 4%;
    padding: 5px 33px;
}

.athleticicon:active {
    border-radius: 50px;
    background: rgb(241, 241, 241);
}

.moredetailimg {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 53px;
    max-height: 209px;
}

.moredetailtxt {
    position: absolute;
    top: 257px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 91%;
    left: 17px;
    color: rgb(96, 96, 96);
    line-height: 25px;
}

.dockdiv {
    position: fixed;
    width: 100%;
    left: 0px;
    height: 0.7px;
    top: 91.2%;
    z-index: 75;
    opacity: 0.1;
    display: none;
    background-color: rgb(112, 112, 112);
}

.closebtn {
    position: fixed;
    width: 18px;
    left: 21px;
    top: 21px;
    padding: 10px;
    border-radius: 50px;
}

.closebtn:active {
    background: rgb(241, 241, 241);
}

.splashtxt {
    position: absolute;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(224, 224, 224);
    font-weight: 400;
    z-index: 350;
}

.alerticon {
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 20px;
    bottom: 6%;
    z-index: 85;
    left: 23%;
    background: red;
}

.calender {
    margin: 175% auto auto;
    width: 360px;
}

.feedbackicon {
    position: fixed;
    right: 9%;
    bottom: 10%;
    width: 50px;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.227451) -1px 2px 8px 0px;
    padding: 5px;
    z-index: 50;
    background-color: white;
}

.feedbackicon:active {
    box-shadow: 0px 0px 0px;
}

.form {
    position: absolute;
    top: 54px;
    left: 0px;
}

.mealmenu {
    position: absolute;
    left: 0px;
}

.search {
    position: fixed;
    top: 8px;
    width: 262px;
    height: 41px;
    left: 59px;
    border-radius: 22px;
    color: rgb(1, 35, 149);
    border: 1.5px none rgb(211, 211, 211);
    outline: none;
    text-decoration: none;
    z-index: 56;
}

.searchmenu {
    text-decoration: none;
}

#myMenu {
    text-decoration: none;
    list-style-type: none;
    line-height: 34px;
    margin: 56px auto auto 8px;
    width: 262px;
}

#myMenu > li > a {
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(1, 35, 149);
    outline: none;
}

.searchicon {
    position: fixed;
    width: 17.49px;
    z-index: 56;
    right: 0%;
    top: 3px;
    padding: 16px 26px 16px 51px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin-top: 133px;
    margin-bottom: -82px;
    margin-left: 0px;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 3px;
}

.lefticon {
    position: absolute;
    top: 4px;
    z-index: 54;
    left: -6px;
    padding: 9px 30px;
}

.splashcenter {
    margin: 157% auto auto;
    width: 190px;
}

.logowrapper {
    margin: 11px auto auto;
    width: 55px;
}

.home {
    margin: auto;
    width: 114px;
}

.athleticlist {
    margin: auto;
    width: 191px;
    text-align: center;
    text-decoration: none;
}

.curvywrapper {
    margin: 1192px auto auto;
    width: 296px;
}

.endbase {
    z-index: -5;
}
.specdiv {
    position: absolute; width: 100%; height:0.5px; background-color: black; left: 0px;opacity: 0.3
}
